<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>Utils</string>
		<string>Launcher</string>
		<string>NEiL</string>
		<string>Goal</string>
		<string>Obstacle</string>
	</array>
	<key>Runtime Type</key>
	<string>modern</string>
	<key>Tint Color</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwdVSRudWxs2A0ODxAREhMU
	FRYXGBkaGxxfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlHcmVlblZVSUJsdWVXVUlB
	bHBoYVVOU1JHQlYkY2xhc3NVVUlSZWRcTlNDb2xvclNwYWNlEAQiNEt2VSI/BQwCIgAA
	AABPEBUwLjQ1OSAxLjg5ZS0wNyAwLjUyIDCAAiI+6u/UEALTHh8gISIkWiRjbGFzc25h
	bWVYJGNsYXNzZXNbJGNsYXNzaGludHNXVUlDb2xvcqIhI1hOU09iamVjdKElV05TQ29s
	b3IACAARABoAJAApADIANwBJAEwAUQBTAFcAXQBuAIYAjgCVAJ0AowCqALAAvQC/AMQA
	yQDOAOYA6ADtAO8A9gEBAQoBFgEeASEBKgEsAAAAAAAAAgEAAAAAAAAAJgAAAAAAAAAA
	AAAAAAAAATQ=
	</data>
</dict>
</plist>
